<div class="container align-content-md-center ">
    <h2 class="text-center">Busqueda </h2>
    <input class="text-center" name="filterPaciente" placeholder="Filtrar" [(ngModel)]="filterPaciente">

</div>


<table class=" table table-bordered table-striped" *ngIf="pacientes?.length>0">
    <thead>
        <tr>
            <th>Id</th>
            <th r>Nombre</th>
            <th>apellidos </th>
            <th>fecha nacimiento </th>
            <th> tipo documento</th>
            <th> # documentos</th>
            <th>telefono</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of pacientes | filter : filterPaciente">
            <td>{{paciente.id}}</td>
            <td>{{paciente.nombres}}</td>
            <td>{{paciente.apellidos}}</td>
            <td>{{paciente.fecha_nacimiento}}</td>
            <td>{{paciente.tipo_de_documento}}</td>
            <td>{{paciente.numero_documento}}</td>
            <td>{{paciente.telefono}}</td>
            <td>
                <button type="button" name="button" [routerLink]="['/paciente/form/',paciente.id]" class="btn btn-primary">Editar</button>
            </td>
        </tr>
        <tr class="mat-row table-primary" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encuentra resultado para la Busqueda"{{input.value}}"</td>
    </tbody>
</table>